*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.body{
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 128, 255, 0.8)),
  url('https://img.freepik.com/premium-vector/glassmorphism-background_680190-4.jpg');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container{
  width: 350px;
  border: 3px solid  rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.form-container form{
  display: flex;
  flex-direction: column;
}

.form-container h2{
  text-align: center;
  color: white;
  padding: 10px;
}

.form-container form label{
  color: white;
  margin-bottom: 5px;
  display: block;
  /* font-size: medium; */
}

.body nav ul li a:hover{
  background-color: #ff00e6;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.form-container form input{
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.2);
  color:white;
  font-size: 15px;
}

.form-container form input::placeholder{
  color: rgba(255, 255, 255, 0.8);
}

.form-container form button{
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(0, 191, 255);
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.form-container form button:hover{
  background-color: rgb(77, 211, 255);
}

.form-container .switch{
margin-top:10px;
text-align:center;
color:white
}

.form-container .switch a{
            color: black;
            text-decoration: none;
            font-size:20px
}