<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOME</title>
    <link rel="stylesheet" th:href="@{/css/style2.css}" />
</head>
<body>

<div class='body'>
    <nav>
        <h1>USER</h1>
        <ul>
            <li><a href="/profile">PROFILE</a></li>
            <li><a href="/edit">EDIT</a></li>
            <form th:action="@{/delete}" method="post" onsubmit="return handledelete();">
                <button type="submit">DELETE</button>
            </form>
            <li><a href="/login">LOGOUT</a></li>
        </ul>
    </nav>
</div>

<div class="content">
    <h1 class="wel">Welcome, <span th:text="${employee.name}"></span>!</h1>
    <p>Your Login was successful.</p>
</div>

<script th:src="@{/css/js/custom.js}"></script>

</body>
</html>
